<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>whats my name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Enter your name</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post" action="/process">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="location" placeholder="location">
        <input type="text" name="lang" placeholder="lang">
        <input type="text" name="updown" placeholder="updown">
    <input type='submit' value='create user'>
    </form>
</body>
</html>